---
title: BETVICTOR - Landing Page Test
---

<div class="page">
  <div class="container">

    <div class="new-customer-offer">
      <%#= image_tag 'new-customer-offer-text.png', :class => 'text img-responsive' %>

      <div class="body">
        <h2 class="title">NEW CUSTOMER OFFER</h2>

        <p class="date">WEDNESDAY 3:20PM CHELTENHAM</p>

        <p class="line-1">QUEEN MOTHER<br>
          CHAMPION CHASE</p>

        <p class="line-2">SPRINTER SACRE</p>

        <p class="value">10/1</p>
      </div>

      <div class="badged-mobile visible-sm">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag 'badge-1.png', :class => 'img-responsive' %>
          </div>
          <div class="col-sm-4">
            <%= image_tag 'badge-2.png', :class => 'img-responsive' %>
          </div>
          <div class="col-sm-4">
            <%= image_tag 'badge-3.png', :class => 'img-responsive' %>
          </div>
        </div>
      </div>

    </div>

    <div class="badges hidden-xs">
      <%= image_tag 'badges.png' %>
    </div>

    <%= link_to 'SIGN UP NOW', '#', :class => 'btn btn-primary' %>

  </div>
</div>